html, body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

.main-div {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.ffs-img {
width: 150px;
height: 150px;
}
